@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&family=Srisakdi:wght@400;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Baloo 2', cursive;
  background-color: #f9f6ef;
  /* font-family: 'Srisakdi', cursive; */
}

.container {
  margin: 30px auto;
  /* border: 5px solid coral; */
  width: 90%;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:20px;
  /* border: 2px solid black; */
}

.card-body {
  border: 3px solid #ea2c62d5;
  border-radius: 10px;
  min-width: 350px;
  margin: 10px 20px;
  background-color: #f4f9f9;
  box-shadow:2px 2px 2px 2px #ff998c67;
  transition: all 0.4s ease-in-out;
}

.card-body .header {
  margin: 10px 8px;
  min-height: 80px;
  padding: 12px;
  font-size: 24px;
  font-family: 'Baloo 2', cursive;
  border-bottom: 2px solid #e7e6e1;
  color: #171833;
}

.card-body .footer {
  padding: 8px;
  font-family: 'Srisakdi', cursive;
  
}

.card-body .footer p {
  color: #5b5b5b;
  font-weight: 800;
}

.card-body:hover {
  transform: scale(1.01);
  box-shadow:1px 1px 1px 1px #f5575780;
  background-color: #ffffff;

}